html{
    background-color: #DCDCDC;
}
a{
    text-decoration: none
}
article{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: impact;
    text-align: center;
}
h6{
    margin-top: -22px;
    text-indent: 300px;
}
h2{
    font-family: Georgia;
}
img.road{
    width: 720px;
    height: 600px;
}
img.mtb{
    width: 720px;
    height: 600px;
}
img.track{
    width: 600px;
    height: 462px;
}
ul{
    list-style-type: none;
}

#mybikes{
    text-align: left;
    }
#footer{
    font-size: 12px;
    font-family: Times, Georgia, serif;
}
#heading{
    text-align: center;
}
#cross{
    text-align: center;
    width: 683px;
    height: 1024px;
}
